<nav class="nav nav-pills flex-column">
    <a asp-action="Index" class="nav-link mb-2 @ManageNavViews.IndexNavClass(ViewContext)">Моят профил</a>
    <a asp-action="ChangePassword" class="nav-link mb-2 @ManageNavViews.ChangePasswordNavClass(ViewContext)">Смени парола</a>
</nav>