@model UserChangePasswordBindingModel

@{
    Layout = "_Layout";
    ViewData["ActiveView"] = ManageNavViews.ChangePassword;
    
    ViewData["Title"] = "Промени парола";
}

<div class="card">
    <div class="card-body">
        <h6 class="text-uppercase mb-4 text-center">Сменете паролата си</h6>
        <form method="post">
             <div asp-validation-summary="All" class="text-danger text-center"></div>
            <div class="form-row justify-content-center">
                <div class="col-md-5 mb-4">
                    <label class="form-label"><i class="fas fa-unlock-alt fa-fw text-muted mr-2"></i>Стара парола</label>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Стара парола">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-5 mb-4">
                    <label class="form-label"><i class="fa fa-lock fa-fw text-muted mr-2"></i>Новa парола</label>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Нова парола">
                     <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-5 mb-4">
                    <label class="form-label"><i class="fa fa-lock fa-fw text-muted mr-2"></i>Потвърдедете нова парола</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Потвърдете нова парола">
                    <span asp-validation-for="ConfirmNewPassword" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row justify-content-center py-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block">Смени</button>
                </div>
            </div>
        </form>
    </div>
</div>
