@model UserChangePasswordBindingModel

@{
    ViewBag.Title = $"Промени паролата на {Model.FirstName} {Model.LastName}";
    Layout = "_Layout";
}

<section class="py-5">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="h4 mb-4">Промени паролата на @Model.FirstName @Model.LastName</h1>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Име</label>
                                <input value="@Model.FirstName" class="form-control" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Фамилия</label>
                                <input value="@Model.LastName" class="form-control" disabled="disabled">
                            </div>
                        </div>
                    </div>
                     <div class="form-row">
                         <div class="col-md-6">
                             <div class="form-group">
                                 <label class="form-label"><i class="fa fa-lock fa-fw text-muted mr-2"></i>Парола</label>
                                 <input asp-for="Password" type="password" class="form-control">
                                 <span asp-validation-for="Password" class="text-danger"></span>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-group">
                                 <label class="form-label"><i class="fa fa-lock fa-fw text-muted mr-2"></i>Потвърдете паролата</label>
                                 <input asp-for="ConfirmNewPassword" type="password" class="form-control">
                                 <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="col-lg-5 pl-xl-5">
                    <img src="~/img/pilot.png" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-center py-4">
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" type="submit">Промени</button>
                </div>
            </div>
        </form>
    </div>
</section>
