@model FlightEditBindingModel

@{
    ViewBag.Title = $"{Model.From} - {@Model.To}";
}

<section class="py-5">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="h4 mb-4 text-primary text-center">Редактирай полет</h1>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-plane-departure fa-fw text-muted mr-2"></i>От</label>
                                <input id="fromField" class="form-control" asp-for="From" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-plane-arrival fa-fw text-muted mr-2"></i>До</label>
                                <input id="toField" class="form-control" asp-for="To" disabled="disabled"/>
                                <span asp-validation-for="To" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label"><i class="far fa-calendar fa-fw text-muted mr-2"></i>Заминаване:</label>
                                <input value="@Model.DepartureDate.ToString("dd-MM-yyyy HH:mm")" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label"><i class="far fa-calendar fa-fw text-muted mr-2"></i>Пристигане</label>
                                <input value="@Model.ArrivalDate.ToString("dd-MM-yyyy HH:mm")" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-plane fa-fw text-muted mr-2"></i>Вид на самолета</label>
                                <input asp-for="AircraftType" class="form-control">
                                <span asp-validation-for="AircraftType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-plane fa-fw text-muted mr-2"></i>Уникален номер</label>
                                <input asp-for="AircraftRegistration" class="form-control">
                                <span asp-validation-for="AircraftRegistration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-user-tie fa-fw text-muted mr-2"></i>Име на пилот</label>
                                <input asp-for="PilotName" class="form-control">
                                <span asp-validation-for="PilotName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-user-friends fa-fw text-muted mr-2"></i>Капацитет пътници</label>
                                <input asp-for="AvailableSeats" type="number" min="10" max="400" class="form-control">
                                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label"><i class="fas fa-users fa-fw text-muted mr-2"></i>Kапацитет бизнес класа</label>
                                <input asp-for="BusinessClassSeats" type="number" min="10" max="400" class="form-control">
                                <span asp-validation-for="BusinessClassSeats" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pl-xl-5">
                    <img src="~/img/flightAnimated.gif" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-center py-4">
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" type="submit">Редактирай</button>
                </div>
            </div>
        </form>
    </div>
</section>