@page
@{
    ViewData["Title"] = "404";
    Layout = "_Layout";

}

<div class="container py-5">
    <div class="row justify-content-center">
        <img src="~/img/logo.png" class="img-fluid">
    </div>
     <p class="h4 text-hover-primary text-center py-2">Страницата не е намерена</p>
    <div class="row justify-content-center">
        <a href="javascript:window.history.back();" class="btn btn-primary">Върнете се назад</a>
    </div>
</div>
